{% if admin.multilang %}
    {% set admin_lang = admin.session.admin_lang ?: 'en' %}
		{% set id = uri.param('id') %}
		{% if id %}
			{% set url = base_url ~ '/flex-directory/' ~ target ~ '/id' ~ config.system.param_sep ~ uri.param('id') %}
		{% else %}
			{% set url = base_url ~ '/flex-directory/' ~ target %}
		{% endif %}
		<div class="button-group">
				<button type="button" class="button disabled">
						<i class="fa fa-flag-o"></i>
						{% set langName = admin.siteLanguages[admin_lang] %}
						{{ langName[:1]|upper ~ langName[1:] }}
				</button>
				{%  if admin.languages_enabled|length > 1 %}
				<button type="button" class="button dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu language-switcher">
						{% for langCode in admin.languages_enabled %}
								{% set langName = admin.siteLanguages[langCode] %}
								{% if langCode != admin_lang %}
										<li><a href="{{ uri.addNonce(url ~ '/task' ~ config.system.param_sep ~ 'switchlanguage/lang' ~ config.system.param_sep ~ langCode, 'admin-form', 'admin-nonce') }}">{{ langName[:1]|upper ~ langName[1:] }}</a></li>
								{% endif %}
						{% endfor %}
				</ul>
				{% endif %}
		</div>
{% endif %}
