{% extends 'partials/base.html.twig' %}
{% use 'flex-directory/pages/titlebar/list.html.twig' %}

{% set flex = grav.flex_directory %}
{% set directory = flex.directory(target) %}
{% set collection = directory.collection %}

{% block content %}
<div id="directory">
    {% set path = directory.config('admin/list/template')|default('flex-directory/types/' ~ target ~ '/list.html.twig') %}
    {% include [path, 'flex-directory/types/default/list.html.twig'] %}
</div>
{% endblock %}